@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rbc-event {
  background-color: #4caf50 !important;
}

.rbc-calendar {
  z-index: 0; /* Certifique-se que o calendário não se sobrepõe */
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050; /* Certifique-se de que é maior que o z-index do calendário */
}

.modal-content {
  position: relative;
  z-index: 1100; /* Deve ser maior que o da overlay e do calendário */
}
.rbc-today {
  background-color: #c8e6c9 !important;
}

.rbc-calendar {
  z-index: 0 !important;
  position: relative;
}
