@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fontes globais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Camada Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance; /* Pode causar problemas; remova se necessário */
  }
  .border-border {
    @apply border-gray-500;
  }
}

/* Camada Base */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    /* Outras variáveis de cor */
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    /* Outras variáveis de cor */
  }

  body {
    @apply bg-background text-foreground;
  }
}